.postcard {
    border: solid 2px darkblue;
    margin: 20px;
    padding: 20px;
    background-color: rgb(236, 236, 236);
}

.stamps {
    padding: 10px;
    border: dashed red 2px;
    background-color: white;
}

#sticker {
    height: 100px;
    border-radius: 10px;
}

h1 {
    font-family: Cascadia Code;
}

h3 {
    font-family: Cascadia Code;
}

#heading {
    text-align: center;
}

body {
    background-color: black;
}