{% extends "layout.html" %}
{% block content %}
    <div>
        <h1 id="heading">Hello!</h1>
        <br>
    </div>

    <div class="container" style="border: solid 2px; background-color: aliceblue;">
        <h1 id="heading" style="color: black;"> <a href="{{ url_for('postcard_home')}}">Postcards from Mars </a></h1> 
    </div>

    <div class="container" style="border: solid 2px; background-color: aliceblue;">
        <h1 id="heading" style="color: black;">More stuff coming soon...maybe.</h1> 
    </div>
    
{% endblock content %}