{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <h1 id="heading">Postcards From Mars</h1>
    </div>
    <div class="container">
        <form method="POST" action="#" class="form-control">
            {{ form.hidden_tag() }}
            <div>
                <p style="text-align: center;">
                    {{ form.rover.label() }}:
                    {{ form.rover()}}
                </p>
            </div>
            <div>
                <p style="text-align: center;">
                    {{ form.pictureDate.label() }}:
                    {{ form.pictureDate() }} <br>
                    
                </p>
            </div>
            <div style="text-align: center;">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            
        </form>
    </div>
{% endblock content %}