{% extends "layout.html" %}
{%block content %}
    <div class="container"">
        <div class="row" style="text-align: center;"></div>
        {% if data['photos']!=[] %}
            {% for image in data['photos'] %}
                <div class="row postcard">
                    <div class="col">
                        <img src="{{ image.img_src }}" alt="" height="500px" class="stamps">
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col"><h1>From,<br> {{ image.rover.name }}</h1></div>
                            <div class="stamps" style="align-self: right;"> <img src="/static/Portraits/{{image.rover.name}}.png" alt="" id="sticker" height="100px"></div>
                        </div>
                        <br><br><br>
                        <div class="row"><h3>Camera: {{ image.camera.name }}</h3></div>
                        <div class="row"><h3>Date: Sol {{ image.sol }} ({{ image.earth_date }})</h3></div>
                        <div class="row"><h3>Message:</h3></div>
                        <div class="row">
                            {% if image.rover.status == 'active'%}
                                <h3>Hello!...Mission Status: Active...Still exploring...A lot of Science to do...</h3>
                            {% else %}
                                <h3>Hello!...Mission Status: Complete...Going dark...Be seeing you...</h3>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h1>No images found for that date. Please try a different date.</h1>
        {% endif %}            
    </div>
{% endblock %}